!!!5
%html
%head
  %title Power Supply
  %link{:href => "https://fonts.googleapis.com/css?family=Audiowide", :rel => "stylesheet", :type => "text/css"}
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body
  %nav.navbar.navbar-default
    .container
      .navbar-header
        %button.navbar-toggle{"data-target" => "#myNavbar", "data-toggle" => "collapse", :type => "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        .navbar-brand= link_to 'Power Supply', root_path

      #myNavbar.collapse.navbar-collapse
        - if user_signed_in?
          %ul.nav.navbar-nav.navbar-right
            %li
              = link_to new_power_path do
                %span.glyphicon.glyphicon-plus
                Add Switch
            %li
              = link_to edit_user_registration_path do
                %span.glyphicon.glyphicon-user
                Account
            %li
              = link_to destroy_user_session_path, method: :delete do
                %span.glyphicon.glyphicon-log-out
                Logout

        - else
          %ul.nav.navbar-nav.navbar-right
            %li
              = link_to new_user_registration_path do
                %span.glyphicon.glyphicon-user
                Sign Up
            %li
              = link_to new_user_session_path do
                %span.glyphicon.glyphicon-log-in
                Login

  .container
    - flash.each do |name, msg|
      = content_tag :div, msg, class: 'alert alert-info'

    = yield
